.formContainer {
    display: flex;
    justify-content: center;
}

.formSignin {
    display: grid;
    width: 20%;
    margin-top: 20px;
}

.formSigninHeading {
    text-align: center;
}

.messageLogin {
    text-align: center;
    margin-top: 20px;
}

.message {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
}

#visibilityButton {
    font-size: 24px;
}

#passwordField {
    margin-bottom: 20px;
}

.loginButton {
    width: 100%;
    margin: 10px 0px;
}
